body {
  color: #333333;
  padding-top: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.main-block {
  flex-flow: column nowrap;
}

.bottom-widgets {
  display: block;
  column-count: 2;
}

@media (min-width: 768px) {
  .bottom-widgets {
    column-count: 3;
  }
}

.align-end {
  align-items: flex-end;
}

/* Promo widget */
.promo-widget {
  display: none;
}

@media (min-width: 576px) {
  .promo-widget {
    display: flex;
  }
}
